/*
    Taken From : http://serenedestiny.com/blog/web-development/lets-create-the-perfect-css-reset; 
    Reset all your HTML Element to condition zero.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong,tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}

textarea { overflow: auto; margin: 0;}
input { border: 0px solid white; margin: 0; padding: 0; }

ol, ul {
	list-style: none;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: "";
content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* global
----------------------------------------------------------------------------------------------*/
a { color:#444444; text-decoration: none; outline: none }
a:hover {cursor: pointer; color:#2d2b2b; }

p {
	margin:1px 0 10px; 
	line-height:17px;
}
input, textarea, select {
	
	border:none; 
/*	border:1px solid #D8D8D8; */
	padding:7px 4px; 
	margin:0;
	color:#666;
}

strong { font-weight: bold; }
em { font-style: italic; }
del { text-decoration: line-through; }
th { font-weight: normal; }

.active_2 {color: #666666;}
.color_white {color:#fff;}
.over_hdn {overflow: hidden;}
.padd_1 {padding: 0 10px;}
.padd_2 {padding: 0 20px;}
.marg_1 {margin: 0 10px;}
.marg_2 {margin: 0 20px;}
.append_bottom_1 {margin-bottom: 10px;}
.append_bottom_2 {margin-bottom: 20px;}
.left { float: left; display: inline; }
.right { float: right; display: inline;} 
.italic {font-style:italic;}
.bold {font-weight:bold;}
.clear { 
	clear:both; 
	padding:0; 
	margin:0; 
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;} 
h1 {font-size:32px;}
h2 {font-size:28px;}
h3 {font-size:24px;}
h3 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:14px;}


/* Grid 12 column, gutter width 20 >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrapper .grid_1 {width:60px;}
.wrapper .grid_2 {width:140px;}
.wrapper .grid_3 {width:220px;}
.wrapper .grid_4 {width:300px;}
.wrapper .grid_5 {width:380px;}
.wrapper .grid_6 {width:460px;}
.wrapper .grid_7 {width:540px;}
.wrapper .grid_8 {width:620px;}
.wrapper .grid_9 {width:700px;}
.wrapper .grid_10 {width:780px;}
.wrapper .grid_11 {width:860px;}
.wrapper .grid_12 {width:940px;}


/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrapper .prefix_1 {padding-left:10px;}
.wrapper .prefix_2 {padding-left:20px;}
.wrapper .prefix_3 {padding-left:30px;}
.wrapper .prefix_4 {padding-left:40px;}
.wrapper .prefix_5 {padding-left:50px;}
.wrapper .prefix_6 {padding-left:60px;}

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.wrapper .suffix_1 {padding-right:10px;}
.wrapper .suffix_2 {padding-right:20px;}
.wrapper .suffix_3 {padding-right:30px;}
.wrapper .suffix_4 {padding-right:40px;}
.wrapper .suffix_5 {padding-right:50px;}
.wrapper .suffix_6 {padding-right:60px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

/*FORM*/
div.form
{
    margin: 0;
}

div.form input,
div.form textarea,
div.form select
{
    background: #f0f0f0;
    margin: 0.4em 0 1.3em 0;
}
div.form input {
    width: 293px;}
div.form textarea {
    width: 293px;}
div.form label
{
    display: block;
}